body{
	background: black;
}

*{
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
	font-family: Times;
}

.all{
	float: right;
    width: 360px;

}

.title{
	font-size: 55px;
	color: white;
    
}

.audioContainer{
	width: 330px;
}

.photo{
	width: 	450px;
	height: 450px;
}

.info{
	width: 330;
	font-size: 11px;
	color: lightGrey;
	text-align: left;

}
