body{
	background: black;
}

.title{
	font-size: 60px;
	color: lightGrey;
}

.audioContainer{
	width: 330px;
}

.photo{
	width: 	450px;
	height: 450px;
}

.info{
	width: 330;
	color: lightGrey;
	text-align: left;

}
